body {
  background-color: #ffb78e;
}

button {
  border: none;
}

.simon {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 350px;
  height: 335px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.7);
}

.flex-content {
  margin: 0 auto;
  display: flex;
}

.pad {
  width: 175px;
  height: 155px;
  border: 10px solid #262626;
}

.top-left {
  border-top-left-radius: 100%;
  border-bottom: none;
  border-right: none;
}

.top-right {
  border-top-right-radius: 100%;
  border-bottom: none;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  border-right: none;
}

.bottom-right {
  border-bottom-right-radius: 100%;
}

#yellow {
  background-color: #f7dc42;
  width: 100%;
  height: 100%;
  border-top-left-radius: 100%;
}

#blue {
  background-color: #4D88FF;
  width: 100%;
  height: 100%;
  border-top-right-radius: 100%;
}

#red {
  background-color: #cc2222;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 100%;
}

#green {
  background-color: #4c7d4c;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 100%;
}

.center-pad {
  font-family: 'Merriweather', serif;
  color: #262626;
  font-size: 15px;
  font-weight: bolder;
  border: 10px solid #262626;
  margin: 0 auto;
  text-align: center;
  width: 155px;
  height: 135px;
  border-radius: 50%;
  background-color: silver;
  position: relative;
  top: -250px;
}

footer {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}
