html {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  min-height: 100%;
}


.simon {
  position: relative;
  margin: 0 auto;
  margin-top: 75px;
  width: 350px;
  height: 335px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.flex-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pad {
  width: 175px;
  height: 155px;
  border: 10px solid #262626;
}

.top-left {
  border-top-left-radius: 20px;
  border-bottom: none;
  border-right: none;
}

.top-right {
  border-top-right-radius: 20px;
  border-bottom: none;
}

.bottom-left {
  border-bottom-left-radius: 20px;
  border-right: none;
}

.bottom-right {
  border-bottom-right-radius: 20px;
}

#yellow {
  border: none;
  background-color: #f7dc42;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
}

#blue {
  border: none;
  background-color: #4D88FF;
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
}

#red {
  border: none;
  background-color: #cc2222;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
}

#green {
  border: none;
  background-color: #4c7d4c;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 10px;
}

.center-pad {
  font-family: 'Merriweather', serif;
  color: silver;
  font-size: 15px;
  font-weight: bolder;
  border: 10px solid #262626;
  margin: 0 auto;
  text-align: center;
  width: 165px;
  height: 165px;
  border-radius: 20px;
  background-color: #262626;
  position: relative;
  top: -260px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#simon-title {
  font-size: 23px;
  font-weight: 600;
  margin-top: 10px;
}

#uppercase {
  font-size: 30px;
  font-weight: 400; 
}

#registred {
  font-size: 8px;
  position: relative;
  top: -10px;
}

.width-100 {
  width: 100%;
}

.width-33 {
  width: 33%;
}

#screen-count{
  font-family: 'Orbitron', sans-serif;
  background-color: #abf2a9;
  height: 38px;
  margin-right: 5px;
  margin-left: 5px;
  border-style: solid;
  border-color: #8acc88;
  border-radius: 10px;
  margin-top: -14px;
}

#screen-info {
  margin-top: 9px;
  margin-bottom: 5px;
  color: grey;

}

#button-start {
  border: 2px solid #961812;
  background-color: #ff4a42;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
}

#button-strict {
  border: 2px solid #ccd310;
  background-color: #f8ff3f;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
}

#led-strict {
  height: 7px;
  width: 7px;
  margin: 0 auto;
  margin-top: -16px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 50%;
}

.led-on {
  background-color: #ff4a42 !important;
}

.button-info {
  letter-spacing: 1px;
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

#switch-slot {
  height: 20px;
  width: 40px;
  background-color: silver;
  position: relative;
  top: 5px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
}

#switch {
  height: 16px;
  width: 16px;
  border-radius: 4px;
  background-color: #6b98e0;
  position: relative;
  border: 2px solid #5476ad;
}


.switch-on {
  left: 20px;
}

.center {
  margin: 0 auto;
}

.left {
  font-size: 11px;
  margin-top: 10px;
  margin-right: 5px;
}

.right {

  font-size: 11px;
  margin-top: 10px;
  margin-left: 5px;
}

footer {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}